html {
  font-family: Arial, Helvetica, sans-serif;
}

.choices li:first-child .up, .choices li:last-child .down {
  visibility: hidden;
}

.choice {
  display: flex;
  margin: .4rem;
}

input[type=checkbox] {
  font-size: 1rem;
  padding: .4rem;
}

input[type=checkbox] + label {
  font-size: 1rem;
  padding: .4rem;
  flex: 1;
}

input[type=checkbox] + label:hover {
  background-color: #ddd;
}

button {
  font-size: 1rem;
  padding: .3rem;
  margin: .25rem;
  min-width: 6ch;

  border: 1px solid #444;
  color: #444;
  background-color: #fff;
}

button:active {
  color: #fff;
  background-color: #444;
}

button[type=submit] {
  margin: 1rem;
}

.moved {
  -webkit-animation: fadein .5s;
  -ms-animation: fadein .5s;
  animation: fadein .5s;
}

@keyframes fadein {
  from {
    opacity: 0;
    background-color: #ccc;
  }
  to {
    opacity: 1;
    background-color: #fff;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    background-color: #ccc;
  }
  to {
    opacity: 1;
    background-color: #fff;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
    background-color: #ccc;
  }
  to {
    opacity: 1;
    background-color: #fff;
  }
}