html {
  font-family: Arial, Helvetica, sans-serif;
}

.js-only {
  display: none;
}

.has-js .js-only {
  display: block;
}

form {
  padding: 0.8rem;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
}

.choices li {
  padding: .4rem 0;
  list-style: none;
}

.ordered li {
  padding: 0 .4rem;
}

.ordered li:hover {
  background-color: #cccccc;
}

.ordered li:first-of-type .up, .ordered li:last-of-type .down {
  visibility: hidden;
}

.choice {
  padding: .4rem 0;
  display: flex;
  align-items: center;
}

.choice-label {
  padding: .4rem;
  flex: 1;
}

input[type=checkbox] {
  font-size: 1rem;
  padding: .4rem;
}

input[type=checkbox] + label {
  font-size: 1rem;
  padding: .4rem;
}

.change-order {
  flex: 1;
}

.change-order button + button {
  margin-left: .8rem;
}

button {
  font-size: 1rem;
  padding: .3rem;
  margin: .25rem;
  min-width: 6ch;

  border: 1px solid #444;
  color: #444;
  background-color: #fff;
}

button:active {
  color: #fff;
  background-color: #444;
}

button[type=submit] {
  margin: 1rem;
}